In [7]:
from DadosAbertosBrasil import ipea
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from openpyxl import Workbook
from DadosAbertosBrasil import ibge
import requests
import json
import pandas as pd
import seaborn as sns
import pyspark
import re
from bs4 import BeautifulSoup
from pyspark.sql.functions import desc
import pyspark.sql.functions as f
from ntpath import join
from pyspark.sql import functions as F
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import pandas_gbq #Conexão com BigQuery pelo Pandas
from google.oauth2 import service_account #Conexão com Google Cloud

In [2]:
#Documentação
lista = pd.DataFrame(ibge.lista_tabelas())
lista.to_excel('IBGE.xlsx')

In [27]:
ibge.lista_tabelas('Número de empresas de alto crescimento, pessoal ocupado total, pessoal ocupado assalariado, pessoal assalariado médio, salários e outras remunerações, média de idade das empresas de alto crescimento, salário médio mensal, por sexo e nível de escolaridade'
)

,tabela_id,tabela_nome,pesquisa_id,pesquisa_nome
1816,2719,"Número de empresas de alto crescimento, pessoa...",DE,Demografia das Empresas e Estatísticas de Empr...

In [41]:
dados = ibge.Metadados(3261)
dados

In [26]:
pesquisas = ibge.lista_pesquisas('Número de empresas de alto crescimento, pessoal ocupado total, pessoal ocupado assalariado, pessoal assalariado médio, salários e outras remunerações, média de idade das empresas de alto crescimento, salário médio mensal, por sexo e nível de escolaridade'
)
#referencias = ibge.referencias('Aluguéis e arrendamentos de veículos, máquinas e equipamentos e Outros custos e despesas operacionais das empresas de alimentação')
pesquisas

                                                 pesquisa_nome
pesquisa_id
CL                                Cadastro Central de Empresas
CA                                          Censo Agropecuário
ME                    Censo Comum do Mercosul, Bolívia e Chile
CD                                           Censo Demográfico
CM                                      Contagem da População
...                                                        ...
VS              Produção da Extração Vegetal e da Silvicultura
PO                                 Produção de Ovos de Galinha
IO                        Produto Interno Bruto dos Municípios
XE                                       Projeção da População
SI           Sistema Nacional de Pesquisa de Custos e Índic...

[65 rows x 1 columns]

In [42]:
#print(dados.periodos)
print(dados.variaveis)
#print(dados.localidades)
#print(dados.classificacoes)

[{'id': 96, 'nome': 'Domicílios particulares permanentes', 'unidade': 'Unidades', 'sumarizacao': ['periodo', 'nivelTerritorial']}, {'id': 1000096, 'nome': 'Domicílios particulares permanentes - percentual do total geral', 'unidade': '%', 'sumarizacao': []}]

In [38]:
df = ibge.sidra(
    tabela = 3261,
    periodos = 2010,
    variaveis = 1000096,
    localidades = {6: 'all'},
    classificacoes = {386: [9692, 9681, 9682, 9683]}
)

In [40]:
print(df)

      Nível Territorial (Código) Nível Territorial Unidade de Medida (Código)  \
0                              6         Município                          2
1                              6         Município                          2
2                              6         Município                          2
3                              6         Município                          2
4                              6         Município                          2
...                          ...               ...                        ...
22255                          6         Município                          2
22256                          6         Município                          2
22257                          6         Município                          2
22258                          6         Município                          2
22259                          6         Município                          2

      Unidade de Medida  Valor Ano (Código)   Ano Variável (Código)  \
0            Percentual   4.59         2010  2010           1000096
1            Percentual  15.61         2010  2010           1000096
2            Percentual  23.20         2010  2010           1000096
3            Percentual  32.90         2010  2010           1000096
4            Percentual   4.12         2010  2010           1000096
...                 ...    ...          ...   ...               ...
22255        Percentual  30.77         2010  2010           1000096
22256        Percentual   2.72         2010  2010           1000096
22257        Percentual   3.53         2010  2010           1000096
22258        Percentual  11.75         2010  2010           1000096
22259        Percentual  22.14         2010  2010           1000096

                                                Variável Município (Código)  \
0      Domicílios particulares permanentes - percentu...            1100015
1      Domicílios particulares permanentes - percentu...            1100015
2      Domicílios particulares permanentes - percentu...            1100015
3      Domicílios particulares permanentes - percentu...            1100015
4      Domicílios particulares permanentes - percentu...            1100023
...                                                  ...                ...
22255  Domicílios particulares permanentes - percentu...            5222302
22256  Domicílios particulares permanentes - percentu...            5300108
22257  Domicílios particulares permanentes - percentu...            5300108
22258  Domicílios particulares permanentes - percentu...            5300108
22259  Domicílios particulares permanentes - percentu...            5300108

                        Município  \
0      Alta Floresta D'Oeste - RO
1      Alta Floresta D'Oeste - RO
2      Alta Floresta D'Oeste - RO
3      Alta Floresta D'Oeste - RO
4                  Ariquemes - RO
...                           ...
22255          Vila Propício - GO
22256               Brasília - DF
22257               Brasília - DF
22258               Brasília - DF
22259               Brasília - DF

      Classes de rendimento nominal mensal domiciliar per capita (Código)  \
0                                                   9692
1                                                   9681
2                                                   9682
3                                                   9683
4                                                   9692
...                                                  ...
22255                                               9683
22256                                               9692
22257                                               9681
22258                                               9682
22259                                               9683

      Classes de rendimento nominal mensal domiciliar per capita
0                                         Sem rendimento
1                              Até 1/4 de salário mínimo
2                       Mais de 1/4 a 1/2 salário mínimo
3                         Mais de 1/2 a 1 salário mínimo
4                                         Sem rendimento
...                                                  ...
22255                     Mais de 1/2 a 1 salário mínimo
22256                                     Sem rendimento
22257                          Até 1/4 de salário mínimo
22258                   Mais de 1/4 a 1/2 salário mínimo
22259                     Mais de 1/2 a 1 salário mínimo

[22260 rows x 13 columns]

In [37]:
ibge.sidra(2719)

,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Ano (Código),Ano,Variável (Código),Variável,Brasil (Código),Brasil,Classificação Nacional de Atividades Econômicas (CNAE 2.0) (Código),Classificação Nacional de Atividades Econômicas (CNAE 2.0)
0,1,Brasil,1020,Unidades,25011,2019,2019,473,Número de empresas de alto crescimento,1,Brasil,117897,Total
1,1,Brasil,45,Pessoas,3318784,2019,2019,475,Pessoal ocupado total de empresas de alto cres...,1,Brasil,117897,Total
2,1,Brasil,45,Pessoas,3280405,2019,2019,477,Pessoal ocupado assalariado de empresas de alt...,1,Brasil,117897,Total
3,1,Brasil,45,Pessoas,2053676,2019,2019,4044,Pessoal ocupado assalariado do sexo masculino ...,1,Brasil,117897,Total
4,1,Brasil,45,Pessoas,1226729,2019,2019,4045,Pessoal ocupado assalariado do sexo feminino d...,1,Brasil,117897,Total
5,1,Brasil,45,Pessoas,491462,2019,2019,4046,Pessoal ocupado assalariado com nível superior...,1,Brasil,117897,Total
6,1,Brasil,45,Pessoas,2788943,2019,2019,4047,Pessoal ocupado assalariado sem nível superior...,1,Brasil,117897,Total
7,1,Brasil,45,Pessoas,2965096.28,2019,2019,5960,Pessoal assalariado médio das empresas de alto...,1,Brasil,117897,Total
8,1,Brasil,45,Pessoas,1853104.44,2019,2019,5961,Pessoal assalariado médio do sexo masculino da...,1,Brasil,117897,Total
9,1,Brasil,45,Pessoas,1111991.84,2019,2019,5962,Pessoal assalariado médio do sexo feminino das...,1,Brasil,117897,Total
10,1,Brasil,45,Pessoas,449013.94,2019,2019,5963,Pessoal assalariado médio com nível superior c...,1,Brasil,117897,Total
11,1,Brasil,45,Pessoas,2516082.34,2019,2019,5964,Pessoal assalariado médio sem nível superior c...,1,Brasil,117897,Total
12,1,Brasil,40,Mil Reais,94633471,2019,2019,4068,Salários e outras remunerações dos empregados ...,1,Brasil,117897,Total
13,1,Brasil,40,Mil Reais,64374994,2019,2019,4048,Salários e outras remunerações dos empregados ...,1,Brasil,117897,Total
14,1,Brasil,40,Mil Reais,30258477,2019,2019,4049,Salários e outras remunerações dos empregados ...,1,Brasil,117897,Total
15,1,Brasil,40,Mil Reais,33269043,2019,2019,4050,Salários e outras remunerações dos empregados ...,1,Brasil,117897,Total
16,1,Brasil,40,Mil Reais,61364428,2019,2019,4051,Salários e outras remunerações dos empregados ...,1,Brasil,117897,Total
17,1,Brasil,1612,Salários mínimos,2.5,2019,2019,4069,Salário médio mensal dos empregados das empres...,1,Brasil,117897,Total
18,1,Brasil,1612,Salários mínimos,2.7,2019,2019,4052,Salário médio mensal dos empregados do sexo ma...,1,Brasil,117897,Total
19,1,Brasil,1612,Salários mínimos,2.1,2019,2019,4053,Salário médio mensal dos empregados do sexo fe...,1,Brasil,117897,Total
20,1,Brasil,1612,Salários mínimos,5.7,2019,2019,4054,Salário médio mensal dos empregados com nível ...,1,Brasil,117897,Total
21,1,Brasil,1612,Salários mínimos,1.9,2019,2019,4055,Salário médio mensal dos empregados sem nível ...,1,Brasil,117897,Total
22,1,Brasil,38,Reais,2455.06,2019,2019,10148,Salário médio mensal dos empregados das empres...,1,Brasil,117897,Total
23,1,Brasil,38,Reais,2672.23,2019,2019,10149,Salário médio mensal dos empregados do sexo ma...,1,Brasil,117897,Total
24,1,Brasil,38,Reais,2093.16,2019,2019,10150,Salário médio mensal dos empregados do sexo fe...,1,Brasil,117897,Total
25,1,Brasil,38,Reais,5699.50,2019,2019,10151,Salário médio mensal dos empregados com nível ...,1,Brasil,117897,Total
26,1,Brasil,38,Reais,1876.07,2019,2019,10152,Salário médio mensal dos empregados sem nível ...,1,Brasil,117897,Total
27,1,Brasil,1622,Anos,14.7,2019,2019,9939,Média de idade das empresas de alto crescimento,1,Brasil,117897,Total
28,1,Brasil,1020,Unidades,2374628,2019,2019,483,Número de empresas com pessoal ocupado assalar...,1,Brasil,117897,Total
29,1,Brasil,1020,Unidades,466226,2019,2019,9818,Número de empresas com 10 ou mais pessoas ocup...,1,Brasil,117897,Total
30,1,Brasil,45,Pessoas,27793716,2019,2019,9927,Pessoal ocupado total de empresas com 10 ou ma...,1,Brasil,117897,Total
31,1,Brasil,45,Pessoas,27041343,2019,2019,9928,Pessoal ocupado assalariado de empresas com 10...,1,Brasil,117897,Total
32,1,Brasil,40,Mil Reais,976491231,2019,2019,9929,Salários e outras remunerações de empresas com...,1,Brasil,117897,Total
33,1,Brasil,1612,Salários mínimos,2.8,2019,2019,9930,Salário médio mensal de empresas com 10 ou mai...,1,Brasil,117897,Total
34,1,Brasil,38,Reais,2751.12,2019,2019,10161,Salário médio mensal de empresas com 10 ou mai...,1,Brasil,117897,Total
35,1,Brasil,1622,Anos,16.4,2019,2019,9931,Média de idade das empresas com 10 ou mais pes...,1,Brasil,117897,Total

In [36]:
df <- get_sidra (api = "/t/1846/n1/all/v/all/p/all/c11255/90707/d/v585%200")

NameError: name 'df' is not defined

In [10]:
x = pd.DataFrame(dados)
x.head()

ValueError: DataFrame constructor not properly called!